In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import zipfile

zf = zipfile.ZipFile('COVID-19_Case_Surveillance_Public_Use_Data_with_Geography_20260203.csv.zip')
df = pd.read_csv(zf.open('COVID-19_Case_Surveillance_Public_Use_Data_with_Geography_20260203.csv'), low_memory=False)

In [2]:
df

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2022-07,MO,29,DUNKLIN,29069.0,18 to 49 years,Female,Black,NaN,0.0,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Unknown,Missing,Unknown,NaN
1,2022-03,MO,29,LINCOLN,29113.0,18 to 49 years,Female,NaN,NaN,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Unknown,Missing,Unknown,NaN
2,2021-09,MO,29,SALINE,29195.0,0 - 17 years,Female,NaN,NaN,0.0,NaN,Missing,Missing,Probable Case,Missing,Unknown,Missing,Unknown,NaN
3,2020-09,MO,29,POLK,29167.0,18 to 49 years,Female,NaN,NaN,0.0,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Unknown,Missing,Unknown,NaN
4,2021-11,MO,29,STODDARD,29207.0,65+ years,Female,NaN,NaN,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Unknown,Missing,Unknown,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1900007,2023-01,MO,29,NaN,NaN,65+ years,Male,White,Unknown,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Unknown,Missing,Unknown,NaN
1900008,2023-01,MO,29,NaN,NaN,65+ years,Male,White,Unknown,0.0,NaN,Missing,Missing,Probable Case,Missing,Unknown,Missing,Unknown,NaN
1900009,2023-01,MO,29,NaN,NaN,65+ years,Male,White,Unknown,0.0,NaN,Missing,Missing,Probable Case,Missing,Unknown,Missing,Unknown,NaN
1900010,2023-01,MO,29,NaN,NaN,65+ years,Male,White,Unknown,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Unknown,Missing,Unknown,NaN
1900011,2023-01,MO,29,NaN,NaN,65+ years,Male,White,Unknown,0.0,NaN,Missing,Missing,Probable Case,Missing,Unknown,Missing,Unknown,NaN

In [15]:
df = df.dropna(subset=['res_county', 'county_fips_code'])
df_2022 = df[df['case_month'].str.startswith('2022')].copy()

In [19]:
df_covid_infections_by_county_2022 = df_2022.groupby(['res_county', 'county_fips_code']).size().reset_index(name='covid_infections')

df_covid_infections_by_county_2022 = df_covid_infections_by_county_2022.sort_values(by='covid_infections', ascending=False)
df_covid_infections_by_county_2022

        res_county  county_fips_code  covid_infections
45       ST. LOUIS           29189.0            124171
20         JACKSON           29095.0             79621
43     ST. CHARLES           29183.0             48803
17          GREENE           29077.0             33739
46  ST. LOUIS CITY           29510.0             32679
11            CLAY           29047.0             28200
22       JEFFERSON           29099.0             26023
3            BOONE           29019.0             23705
21          JASPER           29097.0             14283
9             CASS           29037.0             11391
16        FRANKLIN           29071.0             10984
4         BUCHANAN           29021.0             10902
36          PLATTE           29165.0             10896
10       CHRISTIAN           29043.0              9324
44    ST. FRANCOIS           29187.0              8856
13            COLE           29051.0              8495
8   CAPE GIRARDEAU           29031.0              8194
27         LINCOLN           29113.0              6522
34          PETTIS           29159.0              5851
49           TANEY           29213.0              5686
23         JOHNSON           29101.0              5462
6         CALLAWAY           29027.0              5298
42           SCOTT           29201.0              5130
32          NEWTON           29145.0              5058
35          PHELPS           29161.0              5001
38         PULASKI           29169.0              4530
5           BUTLER           29023.0              4192
19          HOWELL           29091.0              3924
15         DUNKLIN           29069.0              3671
37            POLK           29167.0              3668
54         WEBSTER           29225.0              3624
52          WARREN           29219.0              3613
7           CAMDEN           29029.0              3563
28          MARION           29127.0              3375
24         LACLEDE           29105.0              3366
26        LAWRENCE           29109.0              3193
25       LAFAYETTE           29107.0              2933
18           HENRY           29083.0              2796
2            BARRY           29009.0              2782
33         NODAWAY           29147.0              2701
39        RANDOLPH           29175.0              2579
0            ADAIR           29001.0              2434
41          SALINE           29195.0              2428
51          VERNON           29217.0              2337
48           STONE           29209.0              2297
30          MILLER           29131.0              2295
14        CRAWFORD           29055.0              2219
53      WASHINGTON           29221.0              2211
1          AUDRAIN           29007.0              2186
47        STODDARD           29207.0              2134
40             RAY           29177.0              2115
29        MCDONALD           29119.0              1972
50           TEXAS           29215.0              1929
12         CLINTON           29049.0              1850
31          MORGAN           29141.0              1637